@import '_reset.scss';

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
}

.h1,
.h2,
.h3,
.h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.header__h3 {
    font-size: 32px;
    color: #192252;
}

.header__nav {
    display: flex;
    width: 273px;
    justify-content: space-between;
    align-items: center;
}

.a {
    font-family: 'Inter', sans-serif;
}

.nav__a {
    font-size: 16px;
    font-weight: 500;
    color: #192252;
}

.button {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background: #0E1734;
    border-radius: 4px;
}

.header_button {
    padding: 14px 16px;
}

.section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_1 {
    padding: 88px 0;
}

.pageDesc, .card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.pageDesc_1 {
    width: 514px;
    height: 332px;
}

.pageDesc__h1 {
    font-size: 48px;
    line-height: 72px;
    letter-spacing: -0.01em;
    color: #192252;
}

.p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 27px;
}

.pageDesc__p, .roomCard__p {
    font-size: 18px;
    color: #848FAC;
}

.pageDesc__button {
    padding: 16px 32px;
}

.pageImg_1 {
    width: 588px;
    height: 669px;
}

.img {
    width: 100%;
}

.section_2 {
    padding: 80px 0;
}

.pageImg_2 {
    width: 384px;
    height: 576px;
}

.pageDesc_2 {
    width: 690px;
    height: 366px;
}

.pageDesc__h2 {
    font-size: 36px;
    line-height: 54px;
    letter-spacing: -0.01em;
    color: #192252;
}

.section_3 {
    padding: 80px 0 16px 0;
}

.pageDesc_3 {
    width: 577px;
    height: 159px;
}

.pageImg_3 {
    width: 384px;
    height: 384px;
}

.section_4 {
    padding: 16px 0 80px 0;
}

.pageDesc_4 {
    width: 572px;
    height: 159px;
}

.pageImg_4 {
    width: 384px;
    height: 384px;
}

.section_5 {
    height: 1176px;
    flex-flow: column nowrap;
    padding: 80px 0;
}

.pageDesc_5 {
    width: 588px;
    height: 215px;
    align-items: center;
    text-align: center;
}

.roomCard {
    width: 384px;
    height: 713px;

    div {
        width: 100%;
        height: 133px;
    }
}

.roomCard__h4 {
    font-size: 24px;
    color: #000000;    
}

.roomCard__a {
    font-size: 18px;
    color: #424F7B;
}

.footer {
    padding: 120px calc((100vw - 1200px) / 2);
    background: #0B265A;
    height: calc(204px + 120px + 120px);
}

.footerDesc {
    width: 585px;
    height: 100%;
}

.footerDesc__h3 {
    font-size: 32px;
    color: #FFFFFF;
}

.footerDesc__p {
    font-size: 16px;
    color: #D9DBDE;
}

.socLinks {
    width: 144px;
}

.socLinks__a {
    font-size: 32px;
    color: white;
}

.footerLinks {
    width: calc(1200px - 585px);
    height: 100%;
    align-items: flex-start;
    div {
        height: 100%;
        flex: 1 1 33.33%;
    }
    div:nth-child(2) {
        height: 105px;
    }
    div:nth-child(3) {
        height: 148px;
    }
    a {
        font-size: 16px;
        font-weight: 400;
        color: #D9DBDE;
    }
    b {
        font-weight: bold;
        color: white;
    }
}
